.divMusees {
    background: #183A1D;
    color: #fff;
    padding: 7px 15px;
    border-radius: 5px;
    width: 400px;
    height: 530px;
    margin: auto;
    padding-top: 12.5px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 4%;
    margin-right: 4%;
    box-shadow: 5px 5px 5px #d2e6cc;
    display: inline-block;
    vertical-align: top;
    transition: all 0.3s;
}

.divMusees h2 {
    color: #fff;
}

.divMusees:hover {
    cursor: pointer;
    background-color: #03774d;
}

h2 {
    text-transform: capitalize;
}

.divImages {
    display: flex;
    width: 375px;
    height: 250px;
    overflow: hidden;
    align-items: center;
    border-radius: 5px;
    padding: 0%;
}


.images {
    width: 100%;
    border-radius: 5px;
}

a {
    color: rgb(0, 195, 255);
}