.oeuvreInformation{
    background: #fffdf3;
    padding: 7px 15px;
    border-radius: 5px;
    width: 700px;
    max-height: 500px;
    margin: auto;
    padding-top: 12.5px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 4%;
    margin-right: 4%;
    display: inline-block;
    transition: all 0.3s;
}

.oeuvreTitre {
    font-family: 'hedblk, Arial, Helvetica';
    font-size: 20px;
    font-weight: bolder;
    color:#183A1D;
}

.choixBoutonOeuvre{
    list-style-type: none;
    display: flex;
    float: inline-end;
    bottom: 0;
    justify-content: center;
}

.choixBoutonOeuvre li{
    background-color: #f0ede4;
    margin: auto;
    border-radius: 30px;
}

.choixBoutonOeuvre a{
    display: flex;
    text-decoration: none;
    width: auto;
    padding: 10px;
}

.heart-icon {
    color: #b80000;
    font-size: 30px;
}

.heart-icon:hover {
    color: #b8000088;
}

.cross-icon {
    color: #183A1D;
    font-size: 25px;
}

.cross-icon:hover {
    color: #183a1da5;
}