@import url('https://fonts.cdnfonts.com/css/ikka-rounded');

.title {
  padding-top: 10px;
  color: #FEFBE9;
  font-family: 'hedblk, Arial, Helvetica';
  font-size: 60px;
}

.subtitle {
  color: #fefbe9ee;
  font-family: 'hedblk, Arial, Helvetica', sans-serif;
  font-size: 16px;
}

.banner {
  box-sizing: border-box;
  width: 100%;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-image: url('../../public/monet.jpg');
  background-repeat: no-repeat, repeat;
  background-size: cover;
}

.searchbar {
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: #c3d0bf;
}

.searchbar input {
  width: 300px;
  display: block;
  text-align: center;
  padding: 5px;
  margin-bottom: 5px;
  background-color: #FEFBE9;
  border-radius: 8px;
  border-style: solid;
  border-color: #FEFBE9;
  font-family: 'hedblk, Arial, Helvetica', sans-serif;
  font-size: 14px;
  color: #183A1D;
}

.speechrecognition {
  margin: 8px 6px 5px 10px;
  width: 35px;
  border-radius: 25px;
  border: 0;
  background-color:#FEFBE9;
  font-size: 15px;
}

.speechrecognition:hover {
  background-color:rgb(126, 160, 120);
}

.navbar {
  padding: 10px;
  display: flex;
  justify-content: center;
  background-color: #183A1D;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  float: left;
}

.navbar li a {
  margin: 0px 5px;
  font-family: 'hedblk, Arial, Helvetica';
  font-size: 18px;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  transition: all 0.3s;
  border-radius: 8px;
}

.navbar li a:hover:not(.active) {
  background-color: #F0A04B;
  border-radius: 10px;
  background-color: #03774d;
}

.active {
  background-color: #03774d;
}

.navbar input {
  background-color: rgb(0, 0, 0);
  padding: 10px;
  border: 0;
  color: #fff;
  width: 400px;
  height: 20px;
}