@import url('https://fonts.cdnfonts.com/css/ikka-rounded');

.title {
  color: #FEFBE9;
  font-family: 'Ikka Rounded', sans-serif;
  font-size: 60px;
}

.banner {
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-color: #F0A04B;
}

.navbar {
  padding: 10px;
  display: flex;
  justify-content: center;
  background-color: #183A1D;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: all 0.3s;
  border-radius: 5px;
}

.navbar li a:hover:not(.active) {
  background-color: #03774d;
}

.active {
  background-color: #03774d;
}

.navbar input {
  background-color: rgb(0, 0, 0);
  padding: 10px;
  border: 0;
  color: #fff;
  width: 400px;
  height: 20px;
}

.compte:active {
  border: solid #183A1D 1px;
}

.compte:hover {
  background-color: #03774d;
  cursor: pointer;
}

.compte {
  position: absolute;
  top: 45px;
  right: 50px;
  width: 150px;
  height: 60px;
  border-radius: 30px;
  border: 0px #03774d;
  background-color: #183A1D;
  box-sizing: border-box;
  transition: all 0.3s;
}

.compte h3 {
  text-align: center;
  font-family: 'Ikka Rounded', sans-serif;
  font-size: 17px;
  color: #FEFBE9
}

.comptePanel {
  position: absolute;
  top: 150px;
  right: 0px;
  width: 300px;
  height: 500px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: #fff;
  box-sizing: border-box;
  transition: all 1s;
}